<div class="container my-5">
  <h2>Update Job</h2>
  <form [formGroup]="jobForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <!-- Hidden input for Job ID -->
    <input type="hidden" formControlName="id">

    <!-- Position -->
    <div class="form-group">
      <label for="position">Position</label>
      <select id="position" formControlName="position" class="form-control">
        <option *ngFor="let pos of positions" [ngValue]="pos.id">{{ pos.name }}</option>
      </select>
    </div>

    <!-- Company -->
    <div class="form-group">
      <label for="company">Company</label>
      <select id="company" formControlName="company" class="form-control">
        <option *ngFor="let comp of companies" [ngValue]="comp.id">{{ comp.name }}</option>
      </select>
    </div>

    <!-- Region -->
    <div class="form-group">
      <label for="region">Region</label>
      <select id="region" formControlName="region" class="form-control">
        <option *ngFor="let reg of regions" [ngValue]="reg.id">{{ reg.name }}</option>
      </select>
    </div>

    <!-- Type -->
    <div class="form-group">
      <label for="type">Type</label>
      <select id="type" formControlName="type" class="form-control">
        <option *ngFor="let type of types" [ngValue]="type.id">{{ type.name }}</option>
      </select>
    </div>

    <!-- Salary -->
    <div class="form-group">
      <label for="salary">Salary</label>
      <input type="number" id="salary" formControlName="salary" class="form-control">
    </div>

    <!-- Description -->
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" formControlName="description" class="form-control"></textarea>
    </div>

    <!-- Remote -->
    <div class="form-group">
      <label for="remote">Remote</label>
      <select id="remote" formControlName="remote" class="form-control">
        <option *ngFor="let remote of remoteOptions" [ngValue]="remote.id">{{ remote.name }}</option>
      </select>
    </div>

    <!-- Deadline -->
    <div class="form-group">
      <label for="deadline">Deadline</label>
      <input type="date" id="deadline" formControlName="deadline" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary mb-5">Update Job</button>
  </form>
</div>
