<div class="job-form-container mb-5">
    <h2>Insert Blog Post</h2>
    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="title">Title</label>
        <input id="title" formControlName="title" type="text">
      </div>
      <div>
        <label for="description">Description</label>
        <textarea id="description" formControlName="description"></textarea>
      </div>
      <div>
        <label for="image">Image</label>
        <input id="image" type="file" (change)="onFileSelected($event)">
      </div>
      <button class="mb-5" type="submit">Insert Blog Post</button>
    </form>
  </div>
  