<header class="site-navbar mt-3">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="site-logo col-6"><a routerLink="/">JobBoard</a></div>

      <nav class="mx-auto site-navigation">
        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
          <li><a routerLink="home" class="nav-link" routerLinkActive="active">Home</a></li>
          <li><a routerLink="about" routerLinkActive="active">About</a></li>
          <li><a routerLink="jobs" routerLinkActive="active">Jobs</a></li>
          <li><a routerLink="blog" routerLinkActive="active">Blog</a></li>
          <li><a routerLink="services" routerLinkActive="active">Services</a></li>
          @if(isLoggedIn()){
            @if(isAdmin()){
              <li><a routerLink="/admin/home" routerLinkActive="active">Admin</a></li>
            }
          }
        </ul>
      </nav>
      
      <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
        <div class="ml-auto">
          @if(!isLoggedIn()){
            <a href="/login" class="btn btn-primary border-width-2 d-none d-lg-inline-block mx-2"><span class="mx-2 icon-lock_outline"></span>Log In</a>
            <a href="/register" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="icon-lock_outline"></span>Register</a>
          }
          @if(isLoggedIn()){
            <a href="#" class="btn btn-primary border-width-2 d-none d-lg-inline-block ml-2" (click)="Logout()"><span class="mr-2 icon-lock_outline"></span>Log Out</a>
          }
        </div>
        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
      </div>

    </div>
  </div>
</header>
